#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Icon=gnome-nettool
Name[en_US]=SBTVD parser
Name[pt_BR]=Analisador SBTVD
Exec=/usr/bin/java -Djava.library.path=/usr/lib/jni -jar /usr/bin/tsp.jar
Terminal=false
